[Desktop Entry]
Name=PixiEditor
Comment=PixiEditor is all-in-one solution for 2D image editing.
Icon=net.pixieditor.PixiEditor
Exec=pixieditor.sh %u
StartupWMClass=pixieditor
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;VectorGraphics
MimeType=application/x-pixi;image/jpeg;image/png;image/gif;image/bmp;image/webp;image/svg+xml;font/otf;font/ttf;
GenericName=2D Editor
SingleMainWindow=true
Keywords=editor;image;2d;graphics;design;vector;raster;