<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>PixiEditor</string>
        <key>CFBundleDisplayName</key>
        <string>PixiEditor.Desktop</string>
        <key>CFBundleIdentifier</key>
        <string>com.pixieditor.macos</string>
        <key>CFBundleVersion</key>
        <string>{version-string}</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleExecutable</key>
        <string>PixiEditor</string>
        <key>CFBundleIconFile</key>
        <string>PixiEditor.icns</string>
        <key>CFBundleShortVersionString</key>
        <string>{version-string}</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHighResolutionCapable</key>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Pixi Document</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>pixi</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>PixiEditor.icns</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
        </array>
        <true/>
    </dict>
</plist>
